<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="about-section">
    <h1>About Us</h1>
    <!-- <p>We are Developer, We teach how to become full stack developer.</p> -->
  </div>

  <h2 style="text-align:center">Our Team(FDJA-150)</h2>

  <div >
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\g.png"  class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Poonam</h4>
              <p class="title">Team Leader </p>
              
              <p>FullStack Developer</p>
              <p>poonam123@gmail.com</p>
              
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\b.png"  class="rounded-circle" width="70" />
              <h4 class=" name mt-3 ">Gajanan</h4>
              <p class="title">Team Member </p>              
              <p>FullStack Developer</p>
              <p>gajanan@gmail.com</p>
             

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\g.png"  class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Rupali </h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>rupali@gmail.com</p>
             
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\g.png"  class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">shamma</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>shamma@gmail.com</p>
              

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\g.png"  class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">Mohini</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>mohini@gmail.com</p>
              

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card rounded">
        <div class=" d-block justify-content-center">
          <div class="area1 p-3 py-5"> </div>
          <div class="area2 p- text-center px-3">
            <div class="image mr-3"> <img src="..\assets\img\g.png" class="rounded-circle" width="80" />
              <h4 class=" name mt-3 ">vrushali</h4>
              <p class="title">Team Member </p>
              <p>FullStack Developer</p>
              <p>vrushali@gmail.com</p>
             

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  
  

</body>

</html>
