<div class="card">
    <div class="card-header">Upload Documents</div>
    <div class="card-body">
<form novalidate [formGroup]="doc" (ngSubmit)="Submit()">
    <div> Application Id
    <input type="text" class="form-control" formControlName="customerId"  >
    </div><pre></pre>
                 <div *ngIf="this.cs.c.customerId>0">
<div class="custom-file">
    profilePhoto <input type="file" class="form-control" id="importFile1" (change)="onselectFile1($event)"></div><pre></pre>

<div class="custom-file">
    signature <input type="file" class="form-control" id="importFile2" (change)="onselectFile2($event)"></div><br><pre></pre>

<div class="custom-file">
    pancard <input type="file" class="form-control" id="importFile3"(change)="onselectFile3($event)"></div><br><pre></pre>
    
<div class="custom-file">
    salaryslips <input type="file" class="form-control" id="importFile4"(change)="onselectFile4($event)"></div><br><pre></pre>
<div class="custom-file">
        bankStatement <input type="file" class="form-control" id="importFile5" (change)="onselectFile5($event)"></div><br><pre></pre> 

<div class="custom-file">
addressProof   <input type="file" class="form-control" id="importFile6" (change)="onselectFile6($event)"></div><br><pre></pre>

<input type="submit" value="Submit"></div>
<!--<div class="form-group">
<button mat-raised-button color="primary" type="button" (click)="Submit()">
    <i class="fas fa-file-import"></i> Upload Documents </button>
</div> -->

</form></div></div>




